html body{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  height: 100px;
  color: white;
  background-color: black;
  margin-top: 0;
}

header a{
  color: white;
}

header li{
  float: left;
  margin: 0 30px;
  list-style: none;
}

.main-img-logo{
  width: 10%;
  border-radius: 20px;
}

.menu-list{
  margin: 0;
}

.menu-list ol{
  list-style: none;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.board-page-body{
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  height: auto;
}

.board-warpper{
  border: 2px solid black;
}
